body{
font-family: "Open Sans";
}
	.content{
	margin-top: 55px;
			}
.footer{
	min-height: 50px;
	background-color: #808080;
	color: #f2f2f2;	

}
.footer.copyright span{
	text-align: center;
	line-height: 50px;
	min-height: 50px;
	
}

.contacts{
	text-align: left
}
.about{
	padding: 15px;
	height: 600px;
	background-color: aqua;
}
.info{
	padding: 15px;
min-height:  600px;

    font-size: 16px;
	background-color: aquamarine;
}

.skils{
	padding: 15px;
	min-height: 600px;
	background-color: #ada8a8;
}
.skil {
	position:relative;
	display:block;
	margin-bottom:10px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	transition:0.4s linear;
	transition-property:width, background-color;
}

.skil_text {
	position:absolute;
	top:0;
	left:0;
  width:110px;
	font-weight:bold;
	font-size:14px;
	color:#fff;
	background:#333;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skil_text span {
  font-family: "Open Sans";
	display:block;
	padding:0 20px;
	height:35px;
	line-height:35px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skil_bar {
	height:35px;
	width:0px;
	background:#555;
	border-radius:3px;
}

.skil_percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}
